aiohappyeyeballs==2.4.0
aiohttp==3.10.9
aiohttp-retry==2.8.3
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
APScheduler==3.6.3
asgiref==3.8.1
asyncio==3.4.3
attrs==24.2.0
bcrypt==4.2.0
beautifulsoup4==4.12.3
bidict==0.23.1
blinker==1.8.2
Brotli==1.1.0
CacheControl==0.14.0
cachetools==4.2.2
certifi==2024.7.4
charset-normalizer==3.3.2
chatterbot-corpus==1.2.0
click==8.1.7
colorama==0.4.6
comtypes==1.4.7
decorator==4.4.2
distro==1.9.0
Django==5.1.1
filelock==3.16.0
Flask==3.0.3
Flask-Bcrypt==1.0.1
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
fsspec==2024.9.0
gazpacho==1.1
google==3.0.0
google-cloud==0.34.0
googlesearch-python==1.2.5
greenlet==3.1.1
gTTS==2.5.3
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.24.7
idna==3.7
imageio==2.35.1
imageio-ffmpeg==0.5.1
inspirational_quotes==0.0.14
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.5.0
joblib==1.4.2
jsonify==0.5
jsonpickle==0.9.6
MarkupSafe==2.1.5
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
mutagen==1.47.0
nepali-date-converter==0.0.1
nepali-datetime==1.0.8.3
networkx==3.3
nltk==3.9.1
numpy==2.1.1
openai==1.45.1
opencv-python==4.10.0.84
packaging==24.1
panda==0.3.1
pandas==2.2.2
pillow==10.4.0
proglog==0.1.10
propcache==0.2.0
PyAudio==0.2.14
pycryptodomex==3.21.0
pydantic==2.9.1
pydantic_core==2.23.3
pygame==2.6.0
pyjokes==0.8.3
PyJWT==2.9.0
PyPDF2==3.0.1
pypiwin32==223
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.9.1
python-socketio==5.11.3
python-telegram-bot==21.4
python-weather==2.0.4
pyttsx3==2.91
pytube==15.0.0
pytz==2024.1
pywin32==306
PyYAML==6.0.2
qrcode==8.0
quote==2.0.4
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
setuptools==73.0.1
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SpeechRecognition==3.10.4
SQLAlchemy==2.0.35
sqlparse==0.5.1
sympy==1.13.2
tokenizers==0.19.1
torch==2.4.1
tornado==6.1
tqdm==4.66.5
transformers==4.44.2
twilio==9.3.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.2
ujson==5.10.0
urllib3==2.2.2
weather-api==1.0
websockets==13.1
Werkzeug==3.0.4
Wikipedia-API==0.7.1
wsproto==1.2.0
WTForms==3.1.2
yarl==1.14.0
youtube-dl==2021.12.17
yt-dlp==2024.9.27
